<!-- 
Name: Navjot Kaur
Student ID: 300869349
File Name: index.ejs
Web app name: https://comp308-2017-midterm-300869349.herokuapp.com/
-->

<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <h3>Business Contacts List </h3>
          
          <!-- ------------------------ -->
          <!-- FIX THE ADD BUTTON BELOW -->
          <!-- ------------------------ -->
          <div class="clearfix"><a href="/contactslist/add" class="btn btn-primary"><i class="fa fa-plus"></i> Add a contact</a></div>          
          <br>
          <div class="clearfix"></div>
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th>Contact Name</th>
                  <th class="text-center">Contact Number</th>
                  <th class="text-center">Email Address</th>
                  <th class="text-center"></th>
                  <th class="text-center"></th>
                </tr>
                </thead>
                <tbody>
                <!-- Template Row -->
                <% for (let count = 0; count < contactslist.length; count++) { %>
                <tr>
                  <td><%= contactslist[count].Name %></td>
                  <td class="text-center">$<%= contactslist[count].Number %></td>
                  <td class="text-center"><%= contactslist[count].Email %></td>

                  <td class="text-center">
                    <!-- ------------------------ -->
                    <!-- ADD the EDIT BUTTON HERE -->
                    <!-- ------------------------ -->
                     <a href="/contactslist/<%= contactslist[count]._id %>" class="btn btn-primary">
                    <i class="fa fa-pencil-square-o"></i> Edit</a>
                  </td>

                  <td class="text-center">
                    <!-- ------------------------ -->
                    <!-- ADD the DELETE BUTTON HERE -->
                    <!-- ------------------------ -->
                    <a href="/contactslist/delete/<%= contactslist[count]._id %>" class="btn btn-danger">
                    <i class="fa fa-trash-o"></i> Delete</a>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
           <div class="col-md-offset-1 col-md-10 text-center">
            <ul class="pagination pagination-lg pager" id="myPager"></ul>
          </div>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>


